{% extends "store/base.html" %}
{% block content %}
    <h1> Inbox </h1>
    <p><a class="btn btn-outline-info" href="{% url 'web_messaging_send' %}">Send New Message</a></p>
         {% for mess in view_message %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <h4>{{ mess.sender }}</h4>
                  <small class="text-muted">{{ mess.timestamp }}</small>
                </div>
                  <h6>Message: </h6>
                  <p class="article-content">{{ mess.message }}</p>
              </div>
            </article>
        {% endfor %}
{% endblock content %}