{% extends "store/base.html" %}
{% block title %} Add new comment {% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h1> Add Comment </h1>
    <br>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
<!--            {{ comment.name }}-->
<!--            {{ comment.body }}-->
            <button class="btn btn-secondary"> Add Comment </button>
        </form>
    </div>
{% else %}
Register to leave a comment
{% endif %}
{% endblock content %}
