{% extends "store/base.html" %}
{% block content %}
<!--    <h1> Store home! </h1>-->
<!--    {% for product in products %}-->
<!--        <h2> {{ product.name }} </h2>-->
<!--        <p> By {{ product.brand }} </p>-->
<!--        <p> Description {{ product.description }} </p>-->
<!--        <p> Size {{ product.size }} </p>-->
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ product.owner }}</a>
          <small class="text-muted">{{ product.size }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ product.name }}</a></h2>
        <p class="article-content">{{ product.description }}</p>
      </div>
    </article>
    {% endfor %}
{% endblock content %}
