{% extends "store/base.html" %}
{% block content %}
<!--        <form method="get">-->
<!--            {{ filtered_products.form.as_p }}-->
<!--            <input type="submit" value="Press">-->
<!--        </form>-->
        {# % for product in products % #}
         {% for product in object_list %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-products' product.owner.username %}">{{ product.owner }}</a>
              <small class="text-muted">{{ product.size }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'product-detail' product.id %}">{{ product.name }}</a></h2>
              {% if product.image %}
                <img src="{{ product.image.url }}">
              {% endif %}
              <p class="article-content">{{ product.price }}</p>
              <p class="article-content">{{ product.description }}</p>
          </div>
        </article>
    {% endfor %}
    {% load store_extras %}
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Order by
      </button>
      <ul class="dropdown-menu">
        {% with params=request.GET.urlencode %}
          <li><a href="{% my_url 'name' 'ordering' params %}">Name (a-z)</a></li>
          <li><a href="{% my_url '-name' 'ordering' params %}">Name (z-a)</a></li>
          <li><a href="{% my_url 'price' 'ordering' params %}">Price (asc)</a></li>
          <li><a href="{% my_url '-price' 'ordering' params %}">Price (desc)</a></li>
        {% endwith %}
      </ul>
    </div>

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class=" btn btn-outline-info mb-4" href="{% my_url 1 'page' request.GET.urlencode %}" > First </a>
            <a class=" btn btn-outline-info mb-4" href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}" > Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="{% my_url num 'page' request.GET.urlencode %}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="{% my_url num 'page' request.GET.urlencode %}" > {{ num }}</a>
            {% endif %}
        {% endfor %}

         {% if page_obj.has_next %}
            <a class=" btn btn-outline-info mb-4" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}" > Next</a>
            <a class=" btn btn-outline-info mb-4" href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}" > Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}
