{% extends "store/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend> Delete Product</legend>
                <h2> Are you sure you want to delete the product "{{ object.name}}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn block-btn" type="submit">Yes, delete</button>
                <a class="btn" href="{% url 'product-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}