
{% extends "store/base.html" %}
{% block content %}
{% if user.is_authenticated %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-products' object.owner.username %}">{{ object.owner }}</a>
          <small class="text-muted">{{ object.size }}</small>
            {% if object.owner == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'product-update'  object.id%}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'product-delete'  object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.name }}</h2>
           {% if product.image %}
                <img src="{{ product.image.url }}">
              {% endif %}
          <p class="article-content">{{ object.type }}</p>
          <p class="article-content">{{ object.price }}</p>
          <p class="article-content">{{ object.status }}</p>
          <p class="article-content">{{ object.address }}</p>
          <p class="article-content">{{ object.description }}</p>
          <form action="{% url 'like-product' product.pk %}" method="POST">
                  {% csrf_token %}
                  <button type="submit", name="product_id", value="{{ product.id }}", class="btn btn-primary btn-sm" >Like</button> - {{total_likes}}
          </form>
          <br/> <br/>

           <form action="{% url 'flag-product' product.pk %}" method="POST">
                  {% csrf_token %}
                  <button type="submit", name="product_id"- {{total_likes}}, value="{{ product.id }}" > Flag </button> - {{total_flags}}
          </form>
          <br/> <br/>

          <hr>
          <h6> Comments </h6>

          {% if not product.comments.all %}
           No comment yet ...
             <a href="{% url 'add-comment' product.pk %}"> Add Comment </a>
              <br>
          {% else %}

            {% for comment in product.comments.all %}
                <strong>
                    {{ comment.name }} - {{ comment.date_added }} - {{ comment.rating }}⭐
                </strong>
                    <br>
                    {{ comment.body }}
                    <br/> <br/>
                    <hr>
            {% endfor %}
              <a href="{% url 'add-comment' product.pk %}"> Add Comment </a>
              <br>
          {% endif %}

      </div>
    </article>
{% else %}
Register to view details
{% endif %}
{% endblock content %}

