@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

body {
  color: #333333;
  background-image: url("../../../media/background.png");
  background-size: 40%;
  background-repeat: repeat;
}

.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    opacity: 0.22;
    /*background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 20px 20px,
        linear-gradient(#cdcdcd 1.6px, transparent 1.6px) 0 -0.8px,
        linear-gradient(90deg, #cdcdcd 1.6px, #e5e5f7 1.6px) -0.8px 0;
    background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;*/
}

header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    flex-direction: row;
      line-height: 1.5;
}

.row {
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

header ul {
    position: relative;
    display: flex;
    flex-direction: row;

    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navigator {
    margin-right: auto !important;
  }

header ul li {
}

.title {
    margin-right: 1.5rem !important;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a {
text-decoration: none;
}

a:visited{
    text-decoration: none;
}

header ul li a {
    display: inline-block;
    color: #585858;
    font-weight: 400;
    margin-left: 20px;
    transition: 0.5s;
    width: 90%;
    text-align: center;
    position: relative;

    padding-right: 0;
    padding-left: 0;
}

header ul li a:hover {
    filter: invert(0.75);
    color: #fff;
}

form {
    display: flex !important;
    margin-left: 25px;
}

main form {
    flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

#div_id_password{
    margin-bottom: 0;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-secondary {
  color: #6c757d !important;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
    margin-bottom: 0px;
  border: 0;
}

legend {
  margin-bottom: 1.5rem !important;
  border-bottom: 1px solid #dee2e6 !important;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.text-muted {
  color: #6c757d !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-file, .form-control-range {
  display: block;
  width: 100%;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

#id_description {
    height: 120;
}

input[type="search"]{
  padding: .375rem .75rem;
font-size: 0.85rem;
line-height: 1.5;
color: #495057;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .15rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
outline-offset: -2px;
-webkit-appearance: none;
height: 25px;
display: inline-block;
border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
outline: none;
color: #555;
width: 100px;
background: none;
border-bottom: 1px solid #BBB;

}

.options{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
/*.dropdown:hover{
  cursor:pointer;
}

/*
.dropdown, .dropup {
  position: relative;
}

.dropdown-toggle::after {

    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}*/

.dropdown > a, .dropdown > button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 20px 6px 10px;
  border-radius: 4px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.dropdown > a:before, .dropdown > button:before {
  position: absolute;
  right: 7px;
  top: 15px;
  content: ' ';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dropdown input[type=checkbox] {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 0;
}

.dropdown input[type=checkbox]:hover{
    cursor: pointer;
}

.dropdown input[type=checkbox]:checked:hover{
    cursor: default;
}

.dropdown input[type=checkbox]:checked {
  position: fixed;
  z-index:+0;
  top: 0px; left: 0px;
  right: 0px; bottom: 0px;
}
/*
.dropdown ul {
  position: absolute;
  top: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  left: 0px;
  list-style: none;
  padding: 4px 0px;
  display: none;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,.175);
}*/

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.dropdown input[type=checkbox]:checked + ul{
  display: block;
}

.dropdown-menu li {
  display: block;
  padding: 6px 20px;
  white-space: nowrap;
  min-width: 100px;
}

.dropdown-menu li:hover:not(.divider) {
  background-color: #F5F5F5;
  cursor: pointer;
}

.dropdown-menu li a {
  text-decoration: none;
  display: block;
  color: black
}

.dropdown .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  font-size: 1px;
  padding: 0;
}

input[type="search"]:focus:hover {
}

input[type="search"]:focus {

  cursor: text;
}

form .search {
    display: inline-block;
    color: #585858;
    font-weight: 400;

    transition: 0.5s;

    text-align: center;
    position: relative;

    padding: 0


}

main    {
  margin-top: 3.5rem;
    width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
max-width: 1140px;
}

.row {
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;

    position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
margin-top:1em;
}

article {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;

  display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
}

.media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-content {
  white-space: pre-line;
}

p {
margin-top: 0;
margin-bottom: 0;
}

article p {
    margin-bottom: 1em;
}

article p:nth-last-child(1) {
    overflow-y: auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 117px;
    max-height: 117px;
}

.content-text{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.content-image {
    width: 20%;
    max-width: 50%;
}

.content img, .content-detail img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.content-detail{
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-height: 260px;
}

.content-detail .content-image{
    width: 50%;
    max-width: 50%;
    margin-right: 8%;
}

.col-md-8-grid {
    flex: 0 0 96.666667% !important;
max-width: 96.666667% !important;
}

.articles-grid {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.content-grid {
    display: flex;
    flex-direction: column;
    height: 100% !important;
    max-height: none !important;
    max-width: none !important;
}

.content-section-grid {
    max-width: none;
    width: 32%;
    height: 100%;
}

.content-section-grid p:nth-last-child(1) {
    overflow: unset;
}

.content-image-grid {
    width: 100% !important;
    max-width: none !important;
}

.form-detail{
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

.reactions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reactions .btn {
    padding: 0 !important;
    border: none;
}

.reactions .btn:hover {
color: #17a2b8 !important;
background-color: transparent !important;
border-color: transparent !important;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  /*padding: .375rem .75rem;*/
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
}

main form .btn:not(.block-btn), .btn-secondary {
    color: #17a2b8;
background-color: transparent;
background-image: none;
border-color: #17a2b8;
padding: .375rem .75rem;
}

main form .btn:not(.block-btn):hover, .btn-secondary:hover {
color: #fff;
background-color: #17a2b8;
border-color: #17a2b8;
}

article .btn{
    margin-bottom: 0 !important;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination .btn {
    padding: .3rem .4rem;
    line-height: 1;
}

.pagination .pages .btn:hover {
    border-color: #17a2b8;
}

.pagination .currently {
        color: #fff;
        background-color: #17a2b8;
}

.pagination .pages {
    margin-right: 10px;
    margin-left: 10px;
}

.disabled {
  color: gray;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  opacity: 0.3;
}

.disabled:hover {
    cursor: default;
}

.block-btn{
    color: #dc3545;
    border-color: #dc3545;
    padding: .375rem .75rem;
}

.block-btn:active, .block-btn:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.block-btn:focus {
  box-shadow: 0 0 0 .05rem rgba(220,53,69,.5);
}

.bg-steel {
    background-color: #5f788a;
}

/* .site-header .navbar-nav .nav-link {
  color: #cbd5db;
} */

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
    line-height: 1.5;
    background: rgba(255,255,255,0.7);
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  line-height: 1;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.articles .article-metadata a {
  color: #333;
  text-decoration: none;
}

.articles .article-metadata a:hover {
    color: #2e628f;
    text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.rounded-circle {
  border-radius: 50% !important;
}

img {
  vertical-align: middle;
  border-style: none;
}


