{% extends "store/base.html" %}
{% load user_extras %}
{% block content %}
     <h1> Admin Dashboard </h1>
     {% for user in users %}
        <article class="media content-section">

          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-products' user.username %}">{{ user.username }}{% if user|has_group:"Admin_super_grp" %}
                    (Admin)
                {% endif %}</a>

              <small class="text-muted">id: {{ user.id }}</small>
            </div>
              <h2><a class="article-title" href="">Active: {{ user.is_active }}</a></h2>
              <p class="article-content">Joined: {{user.date_joined}}
                  Last Login: {{ user.last_login }}</p>
              <form method="post">
                  {% csrf_token %}
                  <button class=" btn btn-outline-info mb-4" name="target" value="{{ user.id }}">Block User</button>
              </form>
          </div>

        </article>
    {% endfor %}
{% endblock content %}