{% extends "store/base.html" %}
{% load user_extras %}
{% block content %}
    <h1> Manage Users </h1>
    <p><a class="btn" href="{% url 'webadminapp-admin-dashboard' %}">Back to Dashboard</a></p>
         {% for user in users %}

            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a href="{% url 'user-products' user.username %}">{{ user.username }}</a>
                  <small class="text-muted">User id: {{ user.id }}</small>
                </div>
                  <h2><a class="article-title" href="">Active: {{ user.is_active }}</a></h2>
                  <p class="article-content">Joined: {{user.date_joined}}
                      Last Login: {{ user.last_login }}</p>
                  {% if user|has_group:"Members" %}
                    <a class="btn block-btn" href="{% url 'webadminapp-confirm-block' user.id%}">{% if user.is_active %}Block{% else %}Unblock{% endif %}</a>
                    <a class="btn block-btn" href="{% url 'webadminapp-confirm-warn' user.id%}">Warn</a>
                  {% endif %}
                  {% if request.user|has_group:"Admin_super_grp" %}
                    {% if user|has_group:"Members" %}
                        <a class="btn update-btn" href="{% url 'webadminapp-confirm-promote' user.id%}">Grant Admin Privilege</a>
                    {% elif user|has_group:"Admin_user_grp" or user|has_group:"Admin_item_grp" %}
                        <a class="btn update-btn" href="{% url 'webadminapp-confirm-promote' user.id%}">Promote</a>
                        <a class="btn block-btn" href="{% url 'webadminapp-confirm-revoke' user.id%}">Revoke Admin Privilege</a>
                    {% endif %}
                  {% endif %}
              </div>
            </article>

            <!-- {% if user|has_group:"Members" %}
                <article class="media content-section">
                  <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2" href="{% url 'user-products' user.username %}">{{ user.username }}</a>
                      <small class="text-muted">User id: {{ user.id }}</small>
                    </div>
                      <h2><a class="article-title" href="">Active: {{ user.is_active }}</a></h2>
                      <p class="article-content">Joined: {{user.date_joined}}
                          Last Login: {{ user.last_login }}</p>
                      <a class="btn block-btn" href="{% url 'webadminapp-confirm-block' user.id%}">{% if user.is_active %}Block{% else %}Unblock{% endif %}</a>
                  </div>
                </article>
            {% endif %} -->

        {% endfor %}
        {% if is_paginated %}
            <div class="pagination">
            {% if page_obj.has_previous %}
                <a class=" btn " href="?page=1" > « </a>
                <a class=" btn " href="?page={{ page_obj.previous_page_number }}" > ‹ </a>
            {% else %}
                <a class=" btn disabled" > « </a>
                <a class=" btn disabled" > ‹ </a>
            {% endif %}

            <div class="pages">
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn currently" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn " href="?page={{ num }}" > {{ num }}</a>
                {% endif %}
            {% endfor %}
            </div>

            {% if page_obj.has_next %}
                <a class=" btn " href="?page={{ page_obj.next_page_number }}" > › </a>
                <a class=" btn " href="?page={{ page_obj.paginator.num_pages }}" > » </a>
            {% else %}
                <a class=" btn disabled" > › </a>
                <a class=" btn disabled" > » </a>
            {% endif %}
        </div>
        {% endif %}
{% endblock content %}