{% extends "store/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Warn User</legend>
                <h2> Issue a Warning to "{{ user.username }}" ?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn block-btn" type="submit" name="target">Warn</button>
                <a class="btn btn-secondary" href="{% url 'webadminapp-manage-users' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
